{
    "extends": "@dohooo",
    "rules": {
        "@typescript-eslint/no-use-before-define": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "promise/param-names": "off",
        "@typescript-eslint/ban-ts-comment": "off",
        "import/default": "off",
        "curly": "off"
    },
    "ignorePatterns": ["ios/**/*", "android/**/*"]
}